.tickets-list {
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    li {
      margin-bottom: 20px;
    }
  }
  .message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #4a4a4a;
    font-family: 'Open Sans';
    padding: 20px 0;
  }
}
